<template>
  <div class="paysmosmo">
    <div class="container">
      <img src="../assets/pexels-photo.jpg" height="440px" width="800px" style="opacity:0.4" />
      <div class="content">
        <h1 style="">NEW COLLECTIONS</h1>
        <p style="">{{ allProduct[0].description }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { GeneralService } from '../components/services/general-services.js'
const services = new GeneralService()
export default {
  name: 'paysmosmo',
  data () {
    return {
      allProduct: [],
      access_Token: ''
    }
  },

  beforeMount () {
    services.getAllProducts()
      .then(response => {
        debugger
        this.allProduct = response.data
      })
      .catch((error) =>
        console.log(error)
      )
  },

  mounted () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 16.6%; /* Some padding */
}
</style>
