<template>
  <footer class="navbar-fixed-bottom" id="footer">
     <div class="row">
        <div class="col-10 col-offset-1">
           <div class="col-2" style="padding:50px; font-size:12px;">
              <span class="text-white-50">PAYSMOSMO</span>
           </div>
        </div>
     </div>
  </footer>
</template>

<script>
export default{
}
</script>

<style scoped>
#footer{
   background-color:#4d4646;
   height: 120px;
}
</style>
