<template>
<div>
  <hr style="box-shadow: 2px 2px 5px grey;">
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-top:0%;">
      <a class="navbar-brand"><font-awesome-icon icon="heart"/><cite> Paystrips</cite></a>
      <form class="form-inline ml-5">
         <div class="input-group">
            <input type="search" class="form-control" size="90" placeholder="Search" aria-label="Search" aria-describedby="">
            <div class="input-group-append">
               <button class="btn btn-outline-success my-2 my-sm-0" style="background-color: yellow" type="submit">Search</button>
            </div>
         </div>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-5" id="navbarNav">
         <ul class="navbar-nav">
         <li class="nav-item active ml-2">
            <a class="nav-link" href="#"><font-awesome-icon icon="shopping-cart"/><span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item ml-2">
            <a class="nav-link" href="#"><font-awesome-icon icon="heart" /></a>
         </li>
         <li class="nav-item ml-2">
            <a class="nav-link" href="#"><font-awesome-icon icon="bell" /></a>
         </li>
         </ul>
      </div>
   </nav>
</div>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
