<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-white" style="margin-bottom:-1%; margin-top:-5%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNav">
         <ul class="navbar-nav" style="margin-left:72%;">
            <li class="nav-item active ml-2">
               <a class="nav-link" href="#">How it works<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-2">
               <a class="nav-link" href="#">Log In</a>
            </li>
            <li class="nav-item ml-2">
               <span class="nav-link">|</span>
            </li>
            <li class="nav-item ml-2">
               <a class="nav-link" href="#">Sign Up</a>
            </li>
         </ul>
      </div>
    </nav>
</template>

<script>
export default {

}
</script>

<style scoped>

</style>
