<template>
  <table class="text-left table table-bordered" style="width: 100%;">
     <tr>
         <th class="text-white" style="background-color:#4CAF50">Categories</th>
     </tr>
     <tr v-for="category in allCategory" :key="category.id">
        <td><div class="row"><div class="col-10">{{ category.name }}</div> <div class="col-2"><font-awesome-icon icon="angle-right" /></div></div></td>
     </tr>
  </table>
</template>

<script>
import { GeneralService } from '../services/general-services.js'
const services = new GeneralService()
export default {
  name: 'sidebar',
  data () {
    return {
      allCategory: []
    }
  },
  beforeMount () {
    services.getAllCategory()
      .then(response => {
        this.allCategory = response.data
      })
      .catch((error) =>
        console.log(error)
      )
  }
}
</script>

<style scoped>

</style>
