<template>
  <div id="app">
    <div class="container-fluid">
      <app-navbar></app-navbar>
      <app-navbar-bottom></app-navbar-bottom>
      <div class="row ml-1">
        <div class="col-3">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-9">
          <router-view/>
        </div>
      </div>
      <div class="ml-3">
        <app-product></app-product>
      </div>
      <div class="ml-3">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</template>

<script>
import navbar from './components/common/navbar'
import navbar2 from './components/common/navbar2'
import sidebar from './components/common/sidebar'
import footer from './components/common/footer'
import productItems from './components/productItems'
export default {
  name: 'App',
  components: {
    'app-navbar': navbar,
    'app-navbar-bottom': navbar2,
    'app-sidebar': sidebar,
    'app-footer': footer,
    'app-product': productItems
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
